<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Application Archive</title>
	<link rel="stylesheet" href="/fonts/whitney.css">
	<link rel="stylesheet" href="/css/channel.css">
</head>
<body>
	<%- include("headers/profile", { userpfp: userpfp }); %>
	<ol id="messages">
		<% for (let i = 0; i < messages.length; null) { %>
			<li class="message">
				<img class="author-avatar" src="<%= messages[i].pfp || "/assets/default-avatar.png" %>" height="50">
				<div class="data">
					<span class="name"><%= messages[i].user %></span>
					<span class="timestamp"><%= messages[i].timestamp %></span><br>
					<% do { %>
						<span class="content"><%= messages[i].content %></span><br>
						<% if (messages[i].image) {%>
							<img class=content-image" src="<%= messages[i].image %>"
								 alt="image from user <%= messages[i]. user%>"><br>
						<% }
						if (++i == messages.length) break;
					} while (messages[i-1].user == messages[i].user); %>
				</div>
			</li>
		<%}%>
	</ol>
</body>
</html>
