<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/home.css">
    <title>EndTech Application Archive</title>
</head>
<body>
<main>
    <%- include("headers/profile", { userpfp: userpfp }); %>

    <section id="filters">
        <form id="filter-form">
            <label for="filter-options">Filters</label>
            <select name="filter-options" id="filter-options">
                <option value="none">None</option>
                <option value="accepted">Accepted</option>
                <option value="declined">Declined</option>
                <option value="pending">Pending</option>
            </select>
        </form>
        <span id="search-form">
          <label for="search-box">Search</label>
          <input type="text" name="search-box" id="search-box">
        </span>
    </section>
    <section id="applications">
        <ul id="applications">
            <%for (let application of applications) {%>
            <li class="example-application <%=application.status%>">
                <a class="user" href="<%=application.link%>">
                    <img class="user-profile-pic"
                         src="<%=application.pfp%>"
                         width="40px" height="40px">
                    <h3 class="username"><%=application.name%>#<%=application.discriminator%></h3>
                    <span>-</span>
                    <h4><%=application.status%></h4>
                    <p class="round"><%=application.round > 0 ? "#" + (application.round + 1) : ""%></p>
                    <p class="date"><%=application.date%></p>
                </a>
            </li>
            <%}%>
        </ul>
    </section>
</main>
<script src="/scripts/home.js"></script>
</body>
</html>
